<main>
  <nav>
    <a routerLink="/">Torna ai menu</a>
  </nav>
  <h1>{{ name }}</h1>

  <section class="description">
    {{ description }}

    <div *ngIf="address">
      <a
        href="https://www.google.com/maps/search/?api=1&query={{ addressUrl }}"
      >
        {{ address }}
      </a>
    </div>
    <div *ngIf="phone">
      <a href="tel:{{ phone }}">{{ phone }}</a>
    </div>
  </section>

  <section class="menus">
    <article *ngFor="let menu of menus">
      <app-menu showYear="true" [menu]="menu"></app-menu>
    </article>
  </section>
</main>
