.menus {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1rem;

  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }

  grid-gap: 1rem;
}

article {
  box-shadow: 0.25rem 0.25rem 0 black;

  border: 2px solid black;
  border-top: 0;
}

a {
  padding: 0.1rem 0.25rem;
  background: black;
  color: white;

  &:hover {
    background: white;
    color: black;
  }
}

.description {
  > div {
    margin-top: 1rem;
  }
}
