<main>
  <nav>
    <a routerLink="/">Torna ai menu</a>
  </nav>
  <h1>Dettagli</h1>

  <section>
    <p>Questa pagina è frutto di sudore passione e pochissimo senso estetico</p>
    <p>Visto che trovo il <a href="https://www.baccanaleimola.it/index">sito
        originale del Baccanale</a> decisamente scomodo, ne ho fatto uno
      alternativo per capirci qualcosa.</p>


    <ul>
      <li><b>puoi</b> cercare testo liberamente tra il nome del ristorante e
        il menu</li>
      <li><b>puoi</b> ordinare i risultati alfabeticamente o per prezzo</li>
      <li><b>puoi</b> eliminare dei comuni che non ti interessano dai risultati
      </li>
      <li><b>puoi</b> vedere i menu delle edizioni passate</li>
      <li><b>puoi</b> cliccare sul nome di un ristorante per vedere tutti i menu
        che ha proposto durante le varie edizioni</li>
      <li><b>puoi</b> cliccare sull'indirizzo di un ristorante per vederlo su
        Google Maps</li>
      <li><b>puoi</b> cliccare numero di telefono di un ristorante per chiamarlo
        velocemente</li>
    </ul>

    <p>
      Se ti interessa sapere qualcosa su di me puoi cliccare <a
        href="http://mb.maletta.space">qui</a>, anche se in realtà non c'è molto
      da vedere.
    </p>

    <p>
      Infine, se vuoi darmi un parere, demolirmi o salutarmi puoi scrivermi su
      <a href="http://t.me/Sbaxxx">Telegram</a>
    </p>
  </section>

</main>