<main>
  <span class="custom-input button" (click)="sort()">A - Z</span>
  <span class="custom-input button" (click)="reverse()">Z - A</span>
  <span class="custom-input button" (click)="cheaperFirst()">€ - €€€</span>
  <span class="custom-input button" (click)="cheaperLast()">€€€ - €</span>

  <div class="custom-input search">
    <fa-icon icon="search"></fa-icon>
    <input type="text" [(ngModel)]="filter">
  </div>

  <section id="restaurants">
    <article *ngFor="let restaurant of filteredRestaurants">
      <app-restaurant [restaurant]="restaurant"></app-restaurant>
    </article>
  </section>
</main>