nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    align-items: center;
  }

  a {
    padding: 0.1rem 0.25rem;
    background: black;
    color: white;

    &:hover {
      background: white;
      color: black;
    }
  }

  + * {
    margin-top: 1rem;
  }
}

ul {
  list-style-type: none;
  display: flex;

  li {
    margin: 0;

    + li {
      margin-left: 0.5rem;
    }
  }
}

header {
  + * {
    margin-top: 2rem;
  }
}

.line {
  > * + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    > * + * {
      margin-top: 0;
    }
  }
}

.expand {
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.custom-input {
  display: inline-block;
  border: 2px solid black;
  box-shadow: 0.25rem 0.25rem 0 black;

  padding: 0.5rem;

  min-width: 3rem;
  text-align: center;

  cursor: pointer;
  input {
    border: 0;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    background: none;
  }

  + .custom-input {
    margin-left: 1rem;
  }
}

.places {
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5rem;
  margin-right: -0.5rem;

  .custom-input {
    opacity: 0.2;
    margin: 0.5rem;
    text-decoration: line-through;
    border: 0;
    margin: 10px;
    box-shadow: none;

    &.active {
      opacity: 1;
      text-decoration: none;
      border: 2px solid black;
      margin: 8px;
      box-shadow: 0.25rem 0.25rem 0 black;

      &:hover {
        text-decoration: line-through;
      }
    }
  }
}

.search {
  padding: 0.5rem 1rem;

  input {
    padding: 0 1rem;
  }
}

.collapsed {
  position: relative;
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.toggle {
  transform: scale(-1);
}

footer {
  padding: 1rem;
}

.year {
  display: none;

  @media screen and (min-width: 1024px) {
    display: block;
  }
}
