<article>
  <a routerLink="/restaurant/{{ restaurant.slug }}">
    <header>
      {{ restaurant.name }}
    </header>
  </a>
  <div *ngFor="let menu of restaurant.menus">
    <app-menu [menu]="menu"></app-menu>
  </div>

  <footer>
    <div>
      <a
        href="https://www.google.com/maps/search/?api=1&query={{ addressUrl }}"
        >{{ restaurant.address }}</a
      >
    </div>
    <div>
      <a href="tel:{{ restaurant.phone }}">{{ restaurant.phone }}</a>
    </div>
  </footer>
</article>
