header,
footer {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

footer {
  font-weight: normal;
  margin-top: auto;

  > * + * {
    margin-top: 0.5rem;
  }

  a {
    padding: 0.1rem 0.25rem;
    background: black;
    color: white;

    &:hover {
      background: white;
      color: black;
    }
  }
}

article {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a {
  color: white;
}

header {
  color: white;
  background: black;

  &:hover {
    background: white;
    color: black;
  }
}
