article {
  .header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-top: 2px solid black;
  }

  .price {
    font-weight: 600;
  }

  .content {
    white-space: pre-wrap;
    padding: 1rem 0.5rem;
  }
}
